doctype html
html
    head
        meta(charset='utf-8')
        title My Page
        style
            include style.css
        script(src='/profile.js')
        script(src='/my_reviews.js')
    body
        center
            img(src='/logo_transparent_cut.png' class='form_mini_logo' style='cursor:pointer;' onclick="location.href='/main'")
            h2 마이페이지
            hr
            div(class='box')
                div(style='color: gray;') E-mail
                div(style='font-size: 20px;')= me.Email
                br
                div(style='color: gray;') Name
                div(style='font-size: 20px;')= me.Name
                br
                button(onclick="location.href='/beforeUpdateInfo'") 내 정보 수정
                button(onclick='logout()') 로그아웃
            br
            br
            -for(i in result)
                div(class='form_search_place_name')= result[i].PLACE
                div(class='form_search_place_content')= result[i].CONTENT
                div(class='form_search_place_email')= result[i].user_email
                button(type='button' class='form_update_reviews_button' style='cursor:pointer;' value=`${result[i].num}` onclick='update_review(value)') 수정
                a  
                button(type='button' class='form_update_reviews_button' style='cursor:pointer;' value=`${result[i].num}` onclick='delete_review(value)') 삭제
                br
                br